fastapi
uvicorn
faiss-cpu
numpy
python-dotenv
langchain
langchain-google-genai
langchain-nvidia-ai-endpoints
langchain-text-splitters
langchain-community
langchain_experimental
youtube-transcript-api
yt-dlp
